
.course-container {
    margin-top: 50px;
    text-align: center;

  }
  
  .course-content {
    display: flex;
    flex-wrap: wrap;

  }
  
  .course-title {
    color: var(--text-color-inverted);
    flex: 1 0 100%;

  }
  .alertt{
    margin-top: 20px;
    border-radius: 5px;
  }
  .Delete_btn{
    background-color: red;
      color: var(--text-color-inverted);
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .Delete_btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  .vs-list {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
  }
 .nameVS{
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color-inverted);
 } 
  .vs-item {
    flex-basis: calc(33.33% - 10px); 
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    text-align: center; 
  }
  
  .vs-item img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .vs-item p {
    margin: 5px 0 0; 
  }
  
  .vs-item button {
    display: block;
    margin: 5px auto 0; 
    border-radius: 5px;
  }
  