.content-area_img {
    display: flex;
    justify-content: center; 
    height: 90vh;
  }
  
  .centered-image {
    width: 65%;
    height: auto; 
  }

  @media screen and (max-width: 768px) {
    .centered-image {
        width: 60%; 
        height: auto;
    }
  }
  
  @media screen and (max-width: 576px) {
    .centered-image {
        width: 80%; 
        height: auto;
    }
  }